Repository rehlds/ReHLDS, pull requests merged in 2021-06, with the labels that each got.

#837 Add new CVar `sv_usercmd_custom_random_seed`
  README.md
  rehlds/engine/server.h
  rehlds/engine/sv_main.cpp
  rehlds/engine/sv_user.cpp
Labels: HLDS: Dedicated, Priority: High, Status: Pending, Type: Enhancement

#341 Fixed volume checking in emit sound
  rehlds/engine/pr_cmds.cpp
Labels: HLDS: Engine, Priority: Low, Status: Completed, Type: Bug in original hlds

#810 sv_user.cpp: Small code refactoring
  rehlds/engine/sv_user.cpp
Labels: HLDS: Engine, Priority: Low, Status: Completed, Type: Maintenance

#806 static_map.h: fix lowercase convert
  rehlds/public/rehlds/static_map.h
Labels: Status: Completed, Type: Bug

#807 sv_main.cpp: `SV_New_f()` uses `Q_snprintf()` unsafe format.
  rehlds/engine/sv_main.cpp
Labels: HLDS: Engine, Priority: Medium, Status: Completed, Type: Bug

#842 change destinition folder for linux build
  .github/workflows/build.yml
Labels: HLDS: FileSystem, HLTV: DemoPlayer, Status: Completed
